*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

header{
    position:sticky;
    top:0;
    z-index:100;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#111827;
}

.logo{
    font-size:2rem;
    font-weight:bold;
    color:#38bdf8;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
}

nav a:hover{
    color:#38bdf8;
}

.hero{
    height:450px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(
        rgba(0,0,0,.6),
        rgba(0,0,0,.8)
    );
}

.hero h1{
    font-size:4rem;
    margin-bottom:20px;
}

.hero p{
    font-size:1.2rem;
}
.hero-compras{
    padding:60px 0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.section-title-compras{
    display: none;
    padding:30px;
    font-size:2rem;
    text-align:center;
}
.section-titlee{
    display: none;
    padding:30px;
    font-size:2rem;
    text-align:center;
}

button{
    background:#38bdf8;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:10px;
    cursor:pointer;
    margin-top:10px;
}

button:hover{
    transform:scale(1.05);
}

.games-container{
    display:none;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
    padding:20px;
}

.game-card{
    background:#1e293b;
    border-radius:15px;
    overflow:hidden;
    transition:.3s;
}

.game-card:hover{
    transform:translateY(-8px);
}

.game-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.game-info{
    padding:15px;
}
.idJuego{
    font-weight:bold;
    font-size:1rem;
}
.price{
    color:#22c55e;
    font-weight:bold;
    font-size:1.2rem;
}

.stock{
    color:#94a3b8;
}

.users-section{
    padding:20px;
}

.user-card{
    background:#1e293b;
    padding:20px;
    border-radius:15px;
    margin-bottom:15px;
}

.admin-panel{
    background:#1e293b;
    margin:30px auto;
    padding:30px;
    border-radius:15px;
    max-width:700px;
    text-align:center;
}

input,select{
    display:block;
    width:100%;
    max-width:400px;
    margin:10px auto;
    padding:10px;
    border:none;
    border-radius:8px;
}
.mensaje-error {
    display: none;
    top: 20px;
    right: 20px;
    background-color: #ff4d4d;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}
.mensaje-success {
    display: none;
    margin-top: 5px;
    top: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}
#listar,
#listarCompras{
    max-width:1200px;
    margin:0 auto;
}